
#player1_login_deatils {
    text-align: center;
}
#player1_login_deatils {
    text-align: center;
}
.margin_divs{
    margin-left:60px;
    padding: 20px;
    margin-bottom: 50px;
}

#login_button {
    background-color:rgba(223, 80, 255, 0.4);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:200%;
    border-color: black;
    border-radius: 20%;
    border-width: 0.1cm;
}
.heading{
    margin-top: 50px;
    background-color: lavenderblush;
    padding: 10px;
}